<!DOCTYPE html>
<html>
	<head>
		<title>首页</title>
		<%= require('html-loader!./layout/meta.html') %> 
	</head>
	<body>
		<%= require('html-loader!./layout/header.html') %>  
		<div class="main">
			<div class="wrap" data-show="1">
				<div class="pg1">
					<div class="bg"></div>
					<div class="content">
						<div class="description">
						  <h1>Welcome to HiJIko QuickPay Admin</h1>
						</div> 
						<!-- formWrap module in page-index-layout.string -->
						 <div class="formWrap">
						 	
						 </div>
					</div>
				</div>
			</div>
		</div>
		<%= require('html-loader!./layout/footer.html') %>  
	</body>
</html>