/*
* @Author: Administrator
* @Date:   2017-11-10 15:15:58
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-17 12:24:35
*/
html,body{
	background-color: #fff;
  margin:0em;
  padding:0em;
}

.headerWrap nav.navbar {
    position: relative;
    width: 100%;
}
.headerWrap a{
	color: rgba(0,0,0,0.3);
}
.headerWrap a>i.fa.fa-bars {
    color: rgba(0,0,0,0.3);
}
.headerWrap .bar.pc li.nav-item.active a{
    color: #fff;
}
.headerWrap a.showUl>i.fa.fa-bars {
    color: rgba(0,0,0,0.1);
}
.headerWrap nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top {
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
}

/*****admin page********/
.admin{
  padding-top: 3em;
}
.admin .tableWrap{
  display: table;
}
.admin .tableHd,.admin .tableRow{
  display: table-row;
}
.admin .tableHd>div.tbCl,.admin .tableRow>div.tbCl{
  display: table-cell;
  width: 13%;
  word-wrap: break-word;
  padding: 0.5em;
  font-size: 1em;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #999;
  border-right: 1px solid #c3c1c178;
}
.admin .tableHd>div.tbCl:first-child,.admin .tableRow>div.tbCl:first-child{
  width: 5%;
}
.admin .tableHd>div.tbCl.tranNm,.admin .tableRow>div.tbCl.tranNm{
  width: 17%;
}
.admin .tableHd>div.tbCl{
  background-color: rgb(49,145,169);
  color: #fff;
  font-weight: 800;
}

.admin .actionWrap{
  padding: 3em;
}
.admin .tbCl.id>span.id{
    color: #3398b0;
    font-weight: 800;
    text-shadow: none;
    -webkit-transition: all 0.1s ease-out 0.1s;
    transition: all 0.1s ease-out 0.1s;
}
.admin .tbCl.id>span.id:hover{
    text-shadow: 1px 1px 1px #123841;
}
.admin .tbCl.id>span.id:active{
  text-decoration: underline;
}
.admin .tableHd input[type=checkbox],.admin .tableRow input[type=checkbox]{
    margin-left: 1.5em;
} 
.admin .btmWrap>div{
    display: inline-block;
}
.admin .btmWrap>div.pg{
   padding-left: 10em;
}

/****************************************for mobile ************************************************/
 @media all and (max-width: 500px){

}

 /****************************************for small mobile screen ************************************************/
@media all and (max-width: 360px){

 }