
<div class="headerWrap container-fluid"> 
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
		  <a class="navbar-brand" href="#">
		  	<img src="" />
		  </a>
			<div class="col-md-6">
	                <ul class="rightBar">
					 <li><a href="/test_hijiko/hijikomsg_admin/Jiko/payout">Payout Management</a></li>
					  <li><a href="/test_hijiko/hijikomsg_admin/OrderManagemenet/order_management">Order Management</a></li> 
					   <li><a href="/test_hijiko/hijikomsg_admin/RequestOrder/request_management">Request Management</a></li> 
	                <li><a href="/test_hijiko/hijikomsg_admin/OrderManagemenet/invoice_management">Invoice Management</a></li> 
					 <li><a href="/test_hijiko/hijikomsg_admin/Users/user_management">User Management</a></li> 
 					 <li class="active"><a href="/test_hijiko/hijikomsg_admin/Users/user_management">QuickPay management</a></li> 
					  <li><a href="/test_hijiko/hijikomsg_admin/Users/admin_user">Admin User</a></li> 
	                   <li><a href="/test_hijiko/hijikomsg_admin/Homes/logout">Sign out</a></li>	
	                </ul>


	 		</div>
		</nav>
</div>
